mat-form-field {
    width: 300px;
}

.current-user-div {
    height: 75px;    
    display:flex;    
    flex-direction: column;
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */

    h2 {
        margin: 0;
    }
}

.button-container{
    display:flex;
    gap: 20px;
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
    height: 50px; /* Adjust this as needed */
}

button {
    width: 100px;    
}


.info-messages-div {
    // margin: auto;
    display:flex;
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
    height: 50px; /* Adjust this as needed */
}

.error{
    color: red;
    font-weight: bold;
}

.success{
    color: green;
    font-weight: bold;
}